#enterDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectRow {
    justify-content: center;
}

form {
    border: None;
}

label {
    color: var(--textColor);
    border: None;
}

input {
    border-radius: 0px;
}

#next {
    display: flex;
    justify-content: center;
}