#enterDetailsContent {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--textColor);
    border: None;
}

form {
    border: None;
}

#next {
    display: flex;
    justify-content: center;
}